{% extends 'turbo_frame/base.html' %}
{% load bulma_tags %}

{% block content %}
    <div class="columns is-centered">
        <div class="column is-4-desktop">
            <h1 class="title">Create Task</h1>
            {% if request.turbo.frame %}
                <turbo-frame id="{{ request.turbo.frame }}">
                    {% include 'turbo_frame/form/_create.html' %}
                </turbo-frame>
            {% else %}
                {% include 'turbo_frame/form/_create.html' %}
            {% endif %}
        </div>
    </div>
{% endblock %}