{% extends 'turbo_frame/base.html' %}
{% load bulma_tags %}

{% block content %}
    <div class="columns is-centered">
        <div class="column is-4-desktop">
            <h1 class="title">Delete Task</h1>
            <form method="post">
                <p class="subtitle has-background-danger-light p-3">
                    Are you sure you want to delete "{{ instance.title }}"?
                </p>
                {% csrf_token %}
                <button type="submit" class="button is-primary">Submit</button>
                <a href="{% url 'turbo-frame:task-list' %}"
                   class="button is-danger">Cancel</a>
            </form>
        </div>
    </div>
{% endblock %}