{% extends 'turbo_frame/base.html' %}

{% load bulma_tags %}

{% block content %}
    <div class="columns">
        <div class="column is-4-desktop">
            <h1 class="title">Task Detail</h1>
            <div class="mb-3 p-3 is-bordered">
                {% include 'turbo_frame/_task_detail.html' with instance=instance only %}
            </div>
            <div>
                <a href="{% url 'turbo-frame:task-list' %}" class="button is-primary">
                    Go to list
                </a>
            </div>
        </div>
    </div>
{% endblock %}