{% extends 'turbo_frame/base.html' %}

{% block content %}
    <div class="columns is-centered">
        <div class="column is-5-desktop">
            <h1 class="title">Turbo Frame Index Page</h1>
            <turbo-frame id="task-create" src="{% url 'turbo-frame:task-create' %}">
                Loading...
            </turbo-frame>
            <br>
            <turbo-frame id="task-list" src="{% url 'turbo-frame:task-list' %}">
                Loading...
            </turbo-frame>
        </div>
    </div>
{% endblock %}