// Update Bulma's global variables
$family-sans-serif: "Nunito", sans-serif;

// stylelint-disable no-invalid-position-at-import-rule
@import "~bulmaswatch/sandstone/variables";
@import "~bulma";
@import "~bulmaswatch/sandstone/overrides";

[data-turbo-preview] body {
  opacity: 0.5;
}

.turbo-progress-bar {
  background: red;
  height: 5px;
}
