{% load webpack_loader static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% stylesheet_pack 'turbo_drive' attrs='data-turbo-track="reload"' %}
    {% javascript_pack 'turbo_drive' attrs='data-turbo-track="reload" defer' %}

    {% block extra_top_js %}
    {% endblock %}
</head>
<body>
{% include 'turbo_drive/_navbar.html' %}
<div class="container mt-5">
    {% include 'turbo_drive/_messages.html' %}
    {% block content %}
    {% endblock %}
    {% include 'turbo_drive/_weather_widget.html' %}
</div>
{% block extra_bottom_js %}
{% endblock %}
</body>
</html>