{% extends 'turbo_drive/base.html' %}

{% block extra_top_js %}
    <script>
        console.log('top script')
    </script>
    <script>
        console.log('list page top script.')
    </script>
{% endblock %}

{% block content %}
    <div class="columns">
        <div class="column">
            <h1 class="title">Task List</h1>
            <div>
                {% for instance in object_list %}
                    <div class="card p-2 my-3">
                        {{ instance.due_date|date:"Y-m-d" }}: {{ instance.title }}
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}

{% block extra_bottom_js %}
    <script>
        console.log('list page extra_bottom_js')
    </script>
{% endblock %}