{% load webpack_loader static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Index</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito:400,700">
    {% stylesheet_pack 'turbo_drive' %}
    {% javascript_pack 'turbo_drive' attrs='defer' %}
</head>
<body>
<div class="container">
    <section class="section">
        <div class="columns">
            <div class="column"></div>
            <div class="column has-text-centered has-background-info-light is-5 p-5">
                <h1 class="title">Hello, world!!</h1>
                <p class="mb-4">Lorem ipsum dolor sit amet, consectetur
                    adipisicing elit. Nisi, veritatis.</p>
                <div class="is-flex is-align-items-center">
                    <a href="{% url 'stimulus-basic:counter' %}" class="button is-primary">Simulus Basic</a>
                    <a href="{% url 'turbo_drive:task-list' %}" class="button is-primary mx-5">Turbo Drive</a>
                    <a href="{% url 'turbo_frame:index' %}" class="button is-primary">Turbo Frame</a>
                </div>
                <div>
                    <img src="{% static 'vendors/images/webpack.png' %}" alt="" class="image">
                </div>
            </div>
            <div class="column"></div>
        </div>
    </section>
</div>
</body>
</html>