{% load webpack_loader static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Index</title>
    {% stylesheet_pack 'turbo_drive' %}
</head>
<body>
<div class="container">
    <section class="section">
        <div class="columns">
            <div class="column"></div>
            <div class="column has-background-info-light is-5 p-5">
                <h1 class="title">Hello, world!!</h1>
                <p class="mb-4">Lorem ipsum dolor sit amet, consectetur
                    adipisicing elit. Nisi, veritatis.</p>
                <p><a href="#" class="button is-primary">Learn More</a></p>
                <div>
                    <img src="{% static 'vendors/images/webpack.png' %}" alt="" class="image">
                </div>
            </div>
            <div class="column"></div>
        </div>
    </section>
</div>
{% javascript_pack 'turbo_drive' %}
</body>
</html>